@using E_Tickets.Data.ViewModels
@model AvisViewModel

@using (Html.BeginForm("AjouterAvis", "Avis", FormMethod.Post))
{
    <form method="post" action="/Avis/AjouterAvis" class="mt-4">
        <div class="form-group">
            <label asp-for="Commentaire"></label>
            @if (Model != null)
            {
                <input asp-for="Commentaire" class="form-control" />
                <small class="form-text text-muted">Ajoutez votre commentaire</small>

                <input type="hidden" asp-for="UtilisateurId" value="@Model.UtilisateurId" />
                <input type="hidden" asp-for="MovieId" value="@Model.MovieId" />
                <input type="hidden" asp-for="DateAjout" value="@DateTime.Now" />

                <!-- Other form elements and buttons go here -->
            }
            else
            {
                <p>Loading or Model is null.</p>
            }
        </div>

        <div class="form-group">
            <label asp-for="Note"></label>
            <select asp-for="Note" class="form-control">
                <option value="">Select</option>
                @for (int i = 1; i <= 5; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
            <small class="form-text text-muted">Notez le film</small>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary">Ajouter Avis</button>
        </div>
    </form>
}
